<div class="grid">
    <span class="p-float-label col-12">
        <input class="col-12 hover:shadow-2" id="first_name" type="text" pInputText [(ngModel)]="user.firstName" [pKeyFilter]="nameRegex" required/>
        <label for="first_name">Firstname</label>
    </span>
    <span class="p-float-label col-12 mt-4">
        <input class="col-12 hover:shadow-2" id="Last_name" type="text" pInputText [(ngModel)]="user.lastName" [pKeyFilter]="nameRegex" required/>
        <label for="Last_name">Lastname</label>
    </span>
    
    <div class="col-12 flex justify-content-end">
        <button pButton type="button" label="Save" class="hover:shadow-2 p-button-success p-button-sm col-4" (click)="onSave()"></button>
    </div>
</div>
